.divCard {
    width: 170px;
    height: 170px;
    background-color: rgba(0, 0, 0, 0.897);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 5rem 0;
    position: relative;
    border-radius: 0.4rem;
    margin: 15px;
    color: white;
    transition: transform 0.3s;
}
.divCard:hover {
    transform: scale(1.1);
  }

.button {
    background-color: red;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    width: 1.7vw;
    height: 3vh;
    cursor: pointer;
    
}
.Name{
    font-size: 0.8em;
    position: absolute;
    background-color: yellow;
    left: 1vw;
    width: 10vw;
    bottom: 10vh;
    transition: transform 0.3s;
}
.Name:hover {
    transform: scale(1.2);
  }

.img { 
   width: 100%;
    
}
.data {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
